* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Arabic', sans-serif;
}

body {
    background-color: #141414;
    color: #fff;
    overflow: hidden;
}

.mou_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #141414;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    direction: rtl;
}

.logo_container {
    position: absolute;
    top: 38%;
    left: 50%;
    max-width: 250px;
    width: 90vw;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #00000078;
    border-radius: 20px;
    background-color: #1a1a1a;
}

.logo_container img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.title_container {
    position: relative;
    color: #fff;
    border-radius: 20px;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    line-height: 1.7;
    margin-top: 14px;
}

.title {
    font-size: 1.6rem;
    font-weight: 800;
}

.desc {
    font-size: .95rem;
    color: #aaa;
}

.app_loader_container {
    position: fixed;
    bottom: 10vh;
    left: 0;
    right: 0;
    overflow-wrap: break-word;
    z-index: 1;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}

.app_status {
    margin: 0;
    font-size: 1rem;
    max-height: 100px;
    text-align: center;
    color: #fff;
    line-height: 1.8;
}

.mou_progress_bar_container {
    width: 100%;
    background-color: #88888894;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
    margin-top: 12px;
}

.mou_progress_bar {
    background: linear-gradient(to left, #eb2f24, #c6426e);
    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: .2s linear;
}

.d-none {
    display: none;
}